@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;400;700&display=swap");

/* ######################### html elements styling ################################ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

ul,
li {
  /* text-decoration: none; */
  list-style: none;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}
p,
li {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
}
h1,
h2,
h3 {
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
  font-weight: 500;
}

/* ######### utility clases #######  */

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
.lg-heading {
  font-size: 3.5rem;
}
.md-heading {
  font-size: 2.2rem;
}
.text-red {
  color: #e63946;
}
.text-light {
  color: #f4f4f4;
}
.text-black {
  color: #333333;
}
.text-gray {
  color: #555;
}
.bg-dark {
  background-color: #263238;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0;
}

.btn-primary {
  background-color: #fff;
  border-radius: 10em;
}

.btn-primary:hover {
  background-color: #ddd;
}
.btn-secondry {
  color: #e63946;
  border-radius: 1.5em;
  border: 2px solid #e63946;
}
.btn-secondry:hover {
  background-color: #fcf3f2;
}

/* ########### Header styling ################# */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/header-image.jpg);
  height: 95vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  padding: 1rem;
}

.navbar .logo {
  float: left;
}
.navbar .nav-items {
  float: right;
  margin-top: 2rem;
  text-transform: uppercase;
}
.navbar .nav-item {
  display: inline;
  padding: 1rem;
}
.navbar a:link,
.navbar a:visited {
  color: #f4f4f4;
}
.navbar a {
  padding: 0.3rem;
}
.navbar a:hover {
  border-bottom: 1px solid white;
}
.navbar::after {
  content: "";
  display: block;
  clear: both;
}

/* ################# header contant styling########################### */
.header-contant {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-contant h1 {
  text-transform: uppercase;
  font-weight: 700;
}
.header-contant p {
  text-transform: uppercase;
}

/* ############################ showcase styling ##################### */

.showcase {
  background: #ddd;
  padding: 10rem 0;
}
.row {
  height: 350px;
  background-color: white;
  box-shadow: 0px 0px 20px 0px #aaa;
}
.row1 {
  margin-bottom: 10rem;
}
.row1 .img-box,
.row2 .text-box {
  float: left;
  width: 50%;
}
.row2 .img-box,
.row1 .text-box {
  float: right;
  width: 50%;
}
.row .img-box {
  height: 100%;
}

.row .text-box {
  padding: 3rem;
}

.row .img-box img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

/* ####################### feature section start ########################  */

.feature {
  padding: 10rem 0;
}

.box-waper {
  box-shadow: 5px 5px 10px 0px rgba(102, 102, 102, 0.5);
}

.box {
  width: 33.333333%;
  float: left;
  padding: 2rem;
  text-align: center;
}
.box1,
.box3 {
  background-color: #263238;
  color: white;
}
.box2 {
  background-color: #ce4f5a;
  color: white;
}
.box-waper::after {
  content: "";
  display: block;
  clear: both;
}

/* ################ footer section ##################  */

.footer {
  background-color: #263238;
  color: #f4f4f4;
  padding: 2rem;
  text-align: center;
}

.social-media i {
  margin: 2rem;
}

/* ############## about section #######################  */

.about {
  padding: 5rem 0rem;
}

/* 
#### THIS IS ALSO A VALID CODE########
.line{
    padding-bottom:1rem ;
    border-bottom:0.5rem solid red ;
} */

.line::after {
  content: "";
  display: block;
  border: 3px solid #e63946;
  width: 100%;
}

/* ########### box-about ##########  */

.box-about {
  text-align: center;
  margin-top: 2rem;
}

.box-about .left {
  float: left;
  width: 50%;
  border: 2px soild red;
}

.box-about .right {
  float: right;
  width: 50%;
}

.box-about::after {
  content: "";
  display: block;
  clear: both;
}

.box-about li::before {
  content: "\2713";
  color: #e63946;
  font-weight: bold;
  padding-right: 1rem;
}

/* ########### count styling ####################### */

.counts {
  margin-top: 3rem;
}

.count-items {
  float: left;
  width: 25%;
  text-align: center;
}

.counts::after {
  content: "";
  display: block;
  clear: both;
}

.count-items span {
  font-weight: 700;
  font-size: 3rem;
  color: #e63946;
}

.count-items p {
  font-weight: 700;
  color: #555;
  font-size: 1.8rem;
}

/* #########  cta sectrion ###### */

.cta-banner {
  border: 2px solid red;
  background-color: #ce4f5a;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.57);
  margin-top: 3rem;
}

.cta-banner-left {
  width: 60%;
  float: left;
  color: white;
}
.cta-banner-right {
  width: 40%;
  float: right;
  text-align: right;
}
.ctn-line {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1.5rem;
}
.btn-cta {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  border: 4px solid white;
  padding: 0.3em 2.5em;
  letter-spacing: 0.5rem;
  color: #f4f4f4;
}

.cta-banner::after {
  content: "";
  display: block;
  clear: both;
}

/* ################# contact page styling   ##################### */

.contact-form {
  margin: 5rem 0rem;
  background-color: #f7f7f7;
}

/* .from-wapper {
    background-color: #fff;
} */
/* .from-wapper::after{
    content: "";
    display: block;
    clear: both;
} */

.from-wapper .company-addresh {
  background-color: #fff;
  width: 49%;
  float: left;
  padding: 1rem;
  height: 760px;
  /* border: 2px solid red ; */
}

.from-wapper .company-addresh i {
  display: inline-block;
  margin-right: 1rem;
}
.from-wapper .company-addresh h2 {
  display: inline-block;
  text-transform: uppercase;
}

.from-wapper .address-group {
  margin-bottom: 3rem;
}

.from-wapper .company-addresh img {
  max-width: 90%;
  min-height: 40rem;
  object-fit: cover;
  object-position: right;
}
.from-wapper::after {
  content: "";
  display: block;
  clear: both;
}

/* ##########form style########## */
.from-wapper .form {
  font-size: 1.6rem;
    height: 760px;
  background-color: #fff;
  width: 49%;
  float: right;
  padding: 1rem;
/* 
  border: 2px solid red ; */
}
.form h1::after {
  content: "";
  display: block;
  border: 3px solid #e63946;
  width: 100%;
}
.from-wapper .form label {
  display: block;
}
.from-wapper .form label::after {
  content: "* ";
  color: #e63946;
}

.from-wapper .form input {
  padding: 0.5rem;
  width: 100%;
}

.from-wapper .form .form-group {
  margin-top: 1.2rem;
}

.from-wapper .form textarea {
  width: 100%;
  height: 300px;
  padding: 1rem;
}

.form-btn {
  display: block;
  margin: 3rem auto;
  padding: 0.5em 3em;
  font-size: 1.8rem;
  text-transform: uppercase;

  background-color: #e63946;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}



/* ############### media querery ###############  */

@media (max-width:500px) {
  html{
    font-size: 50%;
  }
  .navbar .nav-items, .navbar .logo{
    float: none;
    text-align: center;
    display: block;
    width: 100%;
  }
.header-contant p{
  display: none;
}








.row{
  height: auto;
  width: 100%;
}

.row .img-box,
.row .text-box{
  float: none;
  width: 100%;
  text-align: center;
}

.feature .box{
  float: none;
  width: 100%;
  text-align: center;
  box-shadow: 5px 5px 10px 0px rgba(102, 102, 102, 0.5);
}

.feature .box2{
 margin-top: 7rem;
}
.feature .box3{
  margin-top: 7rem;
 }
 .box-waper{
  box-shadow: none;
 }

 .cta-banner-left,
 .cta-banner-right{
  float: left;
  text-align: center;
  width: 100%;
 }

.from-wapper .company-addresh,
.from-wapper .form{
  float: none;
  width: 100%;
  align-items: center;
  height: auto;
  margin-bottom: 5rem;
}

}

@media (min-width:501px) and (max-width: 786px) {
  
  html{
    font-size: 50%;
  }
  p{
    font-size: 1.8rem;
  }
  .navbar .nav-items, .navbar .logo{
    float: none;
    text-align: center;
    display: block;
    width: 100%;
  }
.header-contant p{
  display: none;
}

.row{
  height: auto;
  width: 100%;
}

.row .img-box,
.row .text-box{
  float: none;
  width: 100%;
  text-align: center;
}

.feature .box{
  float: none;
  width: 100%;
  text-align: center;
  box-shadow: 5px 5px 10px 0px rgba(102, 102, 102, 0.5);
}

.feature .box2{
 margin-top: 7rem;
}
.feature .box3{
  margin-top: 7rem;
 }
 .box-waper{
  box-shadow: none;
 }

 .cta-banner-left,
 .cta-banner-right{
  float: left;
  text-align: center;
  width: 100%;
 }

.from-wapper .company-addresh,
.from-wapper .form{
  float: none;
  width: 100%;
  align-items: center;
  height: auto;
  margin-bottom: 5rem;
}


}

@media (min-width: 769px) and (max-width:1200px) {
  html{
    font-size: 56.25%;
  }
  .row .text-box h2{
    font-size: 2.2rem;
    font-weight: 500;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
.header{
  height: 90vmax;
}  
}